.header-background {
    background: url("header-background.jpg");
    background-size: 100% 100%;
    
}
.logo {
    color: white;
    font-family: 'Times New Roman';
    font-size: 100px;
    font-weight: 170;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.company {
    color: white;
    font-family: 'Times New Roman';
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 110px;
    margin-left: 15px;
}

.logo-button {
    display: block;
    text-decoration: none;
}

.menu-text {
    color: white;
    font-family: Arial;
    text-align: right;
    font-size: 15px;
    margin-bottom: 10px;
}

.menu-button {
    display: block;
    text-decoration: none;
    height: 50px;
    float: right;
    border: 0px solid white;
    background: transparent;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.menu-button:hover {
    border-bottom: 2px solid white;
}
.company2 {
    text-align: center;
    font-family: Arial;
    color:white;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 200;
}

.about-us {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    color:white;
    margin-top: 2px;
    margin-bottom: 0px;
}

.projects-text {
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 7px;
    font-size: 13px;
}

.projects-button-container {
    text-align: center;
}

.projects-button {
    text-align: center;
    text-decoration: none;
    background-color: blue;
    border-radius: 30px;
    margin-top: 25px;
    height: 35px;
    width: 140px;
    border: none;
    margin-bottom: 240px;
}

.projects-button:hover {
    opacity: 0.8;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-background {
    background-color: #F6F6F8;
}

.footer-inf {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-main {
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 0px;
}
.footer-ul {
    font-family: Arial;
    font-size: 13px;
    color: grey;
    text-align: left;
}

.number {
    padding-left: 3px;
    padding-right: 5px;
}

.footer-button {
    display: block;
    text-decoration: none;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    background: transparent;
    border: none;
}

.footer-button:hover {
    color: black;
}

.footer-line {
    display: flex;
    font-size: 5px;
    font-weight: 3px;
    text-align: right;
    color: grey;
}

.rights {
    color: grey;
    text-align: center;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
}




